{% extends '::base.html.twig' %}


{% block body -%}
    <div class="col-sm-12">

        {% for entity in entities %}
            <div class="row">
                <div class="jumbotron">
                    <div class="container">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="pull-sm-right">
                                <a class="btn btn-primary" href="{{ path('section_edit', { 'id': entity.id }) }}">Edit</a>
                            </div>
                        {% endif %}
                        <h2 class="display-5">{{ entity.name|raw }}</h2>
                        <p>{{ entity.info|raw }}</p>
                    </div>
                </div>


                <div class="col-sm-4">

                    {% for page in entity.pages %}
                        {% if loop.index <= entity.pages|length/3 %}
                            <div class="card card-block">
                                <h3>{{ page.teaserImageCaption }}</h3>
                                <a href="{{ path('page_show', {id:page.id}) }}"
                                   title="Read more about {{ page.menuName }} ">
                                    <img src="{{ page.teaserImage }}" class="img-responsive img-thumbnail"
                                         alt="{{ page.menuName }}">
                                </a>

                                <div class="caption">
                                    <p>{{ page.teaser|raw }}</p>
                                </div>
                                <a href="{{ path('page_show', {id:page.id}) }}"
                                   title="Read more about {{ page.menuName }} ">
                                    Read more about {{ page.teaserImageCaption }}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-sm-4">
                    {% for page in entity.pages %}
                        {% if loop.index > entity.pages|length/3 and  loop.index <= entity.pages|length/3*2 %}
                            <div class="card card-block">
                                <h3>{{ page.teaserImageCaption }}</h3>
                                <a href="{{ path('page_show', {id:page.id}) }}"
                                   title="Read more about {{ page.menuName }} ">
                                    <img src="{{ page.teaserImage }}" class="img-responsive img-thumbnail"
                                         alt="{{ page.menuName }}">
                                </a>

                                <div class="caption">
                                    <p>{{ page.teaser|raw }}</p>
                                </div>
                                <a href="{{ path('page_show', {id:page.id}) }}"
                                   title="Read more about {{ page.menuName }} ">
                                    Read more about {{ page.teaserImageCaption }}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-sm-4">
                    {% for page in entity.pages %}
                        {% if loop.index > entity.pages|length/3*2 %}
                            <div class="card card-block">
                                <h3>{{ page.teaserImageCaption }}</h3>
                                <a href="{{ path('page_show', {id:page.id}) }}"
                                   title="Read more about {{ page.menuName }} ">
                                    <img src="{{ page.teaserImage }}" class="img-responsive img-thumbnail"
                                         alt="{{ page.menuName }}">
                                </a>

                                <div class="caption">
                                    <p>{{ page.teaser|raw }}</p>
                                </div>
                                <a href="{{ path('page_show', {id:page.id}) }}"
                                   title="Read more about {{ page.menuName }} ">
                                    Read more about {{ page.teaserImageCaption }}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        {% endfor %}


    </div>

{% endblock %}
