{% extends '::base.html.twig' %}

{% block body -%}

    <div class="" style="background-color: #82D3EE; margin-top: -20px;margin-left: -15px; margin-right: -15px; padding-right:300px">
        <img src="{{ asset('bundles/app/images/banner_home.png') }}" class="img-responsive" alt="Watershed UGA logo">
    </div>
<div class="col-sm-12" style="padding:30px;">
    {% for entity in entities %}

        <div class="col-sm-4">
            <a href="{{ path('page_show', {id:entity.id}) }}" title="Read more about {{ entity.menuName }} " ><img src="{{ entity.teaserImage }}" class="img-responsive img-thumbnail" alt="{{ entity.menuName }}"></a>
            {{ entity.teaser|raw }}
        </div>
    {% endfor %}
</div>

{% endblock %}
