{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <div class="col-sm-10">
    <h1>Stories</h1>

    {% for entity in entities %}

        <div class="card">
            <div class="card-block">
                {% if entity.link != '' %}
                    <a href="{{ entity.link }}">{{ entity.menuName }}</a>

                {% else %}
                    <a href="{{ path('page_show', { 'id': entity.id }) }}">{{ entity.menuName|raw }}</a>
                {% endif %}


                {% if is_granted('ROLE_ADMIN') %}
                    <div class="pull-sm-right">
                        Section: {{ entity.section.name }}
                        {% if entity.homepage == true %}/ On Homepage {% endif %}
                        <a class="btn btn-primary" href="{{ path('page_edit', { 'id': entity.id }) }}">Edit</a>
                    </div>
                {% endif %}
            </div>
        </div>

    {% endfor %}
    </div>
{% endblock %}
