{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Pages</h1>

    {% for entity in entities %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="inline"><a href="{{ path('page_show', { 'id': entity.id }) }}">{{ entity.menuName|raw }}</a></h3>

                {% if is_granted('ROLE_ADMIN') %}
                    Section: {{ entity.section.name }}
                    {% if entity.homepage == true %}/ On Homepage {% endif %}

                <a class="btn btn-default" href="{{ path('page_edit', { 'id': entity.id }) }}">Edit</a>{% endif %}
            </div>
            <div class="panel-body">
                <div class="col-sm-8">
                    {{ entity.teaser|raw }}
                    <a href="{{ path('page_show', { 'id': entity.id }) }}">Read more about {{ entity.menuName|raw }}</a>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive pull-right" src="{{ entity.teaserImage }}"/>
                </div>

            </div>
        </div>

    {% endfor %}

{% endblock %}
