{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <div class="col-sm-12">
        <h2>
            {{ entity.name }}
        </h2>
        <p>
            {{ entity.description|raw }}
        </p>

        <h3>Modules</h3>

        <div class="list-group">
            {% for entity in entity.modules %}
                <a href="{{ path('module_show', { 'id': entity.id }) }}" class="list-group-item">
                    <p class="list-group-item-heading">{{ entity.name|raw }}</p>
                    <p class="list-group-item-text">{{ entity.description|raw }}</p>
                </a>
            {% endfor %}
        </div>

    </div>


{% endblock %}
