<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Watershed UGA{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- Bootstrap CSS -->
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

        <link type="text/css" rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link type="text/css" rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.5/css/theme.bootstrap.min.css">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/local.css') }}">
    {% endblock %}

</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-default">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar">

            <ul class="nav navbar-nav">
                <li class="nav-item" id="landing"><a href="{{ path('page_landing') }}">{{ application_name }}</a></li>
                <li class="nav-item" id="skip">
                    <a id="main_nav" href="#main_content">Skip Navigation</a>
                </li>
                <li class="nav-item" id="home"><a href="{{ path('page_home') }}">Home</a></li>
                <li class="nav-item" id="faq"><a href="{{ path('page_show', { 'id':1 }) }}">Faculty</a></li>
                <li class="nav-item" id="faq"><a href="{{ path('section') }}">Stories</a></li>
                <li class="nav-item" id="event" class=""><a title="Events" href="{{ path('event') }}">Events/Service</a>
                </li>
                <li class="nav-item" id="file"><a title="Courses" href="{{ path('module') }}">Resources</a></li>
                <li class="nav-item" id="mapset"><a href="{{ path('mapset') }}">Maps</a></li>
                <li class="nav-item" id="user"><a href="{{ path('public_profiles') }}">Profiles</a></li>
                <li class="nav-item" id="user"><a href="{{ path('page_show', { 'id': 9 }) }}">Donate</a></li>
            </ul>

            <ul class="nav navbar-nav pull-xs-right">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Profile</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('user_profile') }}">My Profile</a></li>
                            <li>
                                <a title="Logout" href="{{ path('logout') }}">Logout</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a title="Login" href="{{ path('user_profile') }}">Login</a>
                    </li>
                {% endif %}
                <li id="skip">
                    <a id="main_content" href="#main_nav">Skip to Top</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="main-content">

        {% block sidebar %}{% endblock %}
        {% block body %}{% endblock %}


        {% block javascripts %}
            <!-- jQuery first, then Bootstrap JS. -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/2.2.2/tinysort.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.5/js/jquery.tablesorter.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.5/js/jquery.tablesorter.widgets.min.js"></script>
        {% endblock %}

</div>
</div>


</body>
</html>

