{# sustain/app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html {% if 'default' not in app.request.attributes.get('_route') %}class="full"{% endif %} lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Watershed UGA{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets '@bootstrap_less' combine=true  output='css/compiled/main.css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>{% endstylesheets %}
        <link href='https://fonts.googleapis.com/css?family=Josefin+Sans&subset=latin,latin-ext' rel='stylesheet'
              type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/local.css') }}">
    {% endblock %}

    {% block javascripts %}
        {% javascripts '@jquery_js' '@jqueryui_js' '@bootstrap_js' combine=true output='js/compiled/main.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script language="javascript">
            $(document).ready(function () {
                var active_route = '{{ app.request.attributes.get('_route') }}';
                var currentactive = '#' + active_route;
                $('.active').removeClass('active');
                $(currentactive).addClass('active');
                (function () {
                    var cx = '000502081467924493637:_i_ajtr6taa';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                })();

                $('.gsc-input-box').addClass('form-control');
            });
        </script>
    {% endblock %}

    <link rel="icon" href="{{ asset('bundles/app/images/favicon.ico') }}" sizes="16x16 32x32 48x48 64x64"
          type="image/vnd.microsoft.icon">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('default') }}">{{ application_name }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="skip">
                    <a id="main_nav" href="#main_content">Skip Navigation</a>
                </li>
                <li id="faq"><a href="{{ path('page_show', { 'id':1 }) }}">About</a></li>
                <li id="faq"><a href="{{ path('page_show', { 'id':12 }) }}">FAQ</a></li>
                <li id="event" class=""><a title="Events" href="{{ path('event') }}">Events/Service</a></li>
                <li id="module"><a href="{{ path('module') }}">Modules</a></li>
                <li id="objective"><a href="{{ path('objective') }}">Objectives</a></li>
                <li id="activity"><a href="{{ path('activity') }}">Activities</a></li>
                <li id="file"><a title="Courses" href="{{ path('file') }}">Resources</a></li>
                <li id="mapset"><a href="{{ path('mapset') }}">Maps</a></li>
                <li id="user"><a href="{{ path('public_profiles') }}">Profiles</a></li>
                <li id="user"><a href="{{ path('page_show', { 'id': 9 }) }}">Donate</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Profile</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('user_profile') }}">My Profile</a></li>
                            <li>
                                <a title="Logout" href="{{ path('logout') }}">Logout</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a title="Login" href="{{ path('user_profile') }}">Login</a>
                    </li>
                {% endif %}
                <li id="skip">
                    <a id="main_content" href="#main_nav">Skip to Top</a>
                </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div style="margin-top: 70px;">
    {% if 'default' in app.request.attributes.get('_route') or app.request.attributes.get('_route') == 'page_home' %}
    {% else %}
        <div class="col-sm-2 sidebar hidden-xs">
            {% block sidebar %}
            {% endblock %}
        </div>

    {% endif %}
    <div class="{% if 'default' in app.request.attributes.get('_route')  or app.request.attributes.get('_route') == 'theme' %}col-sm-12{% else %}col-sm-10{% endif %}">
        {% block body %}
        {% endblock %}
    </div>
</div>

</body>


</html>