{% extends 'AppBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body -%}

    <h1 style="display: inline-block;">Events</h1>
    <a class="btn btn-primary pull-right" href="{{ path('event_month') }}">Calendar View</a>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary pull-right" href="{{ path('event_new') }}">New Event</a>
    {% endif %}

    {# Calendar #}
        {% for entity in entities %}
            <div class="col-sm-12 well">
                <div class="col-sm-10">
                    <h2 style="display:inline">
                        {{ entity.title }}
                    </h2>
                    <p>{% if entity.start %}{{ entity.start|date("l, F d") }} {{ entity.start|date("g:i A") }}{% endif %}</p>

                    <p>
                        {{ entity.description|raw }}
                    </p>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default" href="{{ path('event_edit', { 'id': entity.id }) }}">Edit</a>
                {% endif %}
            </div>
        {% endfor %}
{% endblock %}
