{% extends 'AppBundle::layout.html.twig' %}

{% block title %}{{ application_name }} Event {{ entity.title }} {% endblock %}

{% block body -%}

    <div class="col-sm-10">
        <div class="card">
            <div class="card-block">
                <a class="btn btn-primary pull-sm-right" href="{{ path('event') }}">See All Events</a>
                <h2>
                    {{ entity.title }}
                </h2>

                <p>{% if entity.start %}{{ entity.start|date("l, F d") }} {{ entity.start|date("g:i A") }}{% endif %}</p>
                <p>{% if entity.location!='' %}{{ entity.location }}{% endif %}</p>
                <p>
                    {{ entity.description|raw }}
                </p>
            </div>
        </div>


        {% if entity.opportunities|length > 0 %}
        <div class="card">
            <div class="card-block">
                <h3>Related Partners or Opportunities</h3>{% endif %}
                {% for entity in entity.opportunities %}
                    <h4>
                        {{ entity.title }}
                    </h4>

                    <p>
                        {{ entity.teaser|raw }}
                    </p>
                    {% if entity.description != '' %}
                            <a class=""
                               href="{{ path('opportunity_show', { 'id': entity.id }) }}">Read the full description.</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-primary" href="{{ path('event_edit', { 'id': entity.id }) }}">Edit</a>
        {% endif %}
    </div>

{% endblock %}
