{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Activities{% endblock %}

{% block body %}
    <h1>Activities</h1>

    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Activities are associated with Learning Objectives and Modules. They are labeled according to Bloom’s and Fink’s Taxonomy. Click on a title to pull up the content and other resources for download.
    </div>

    <table id="file_list" class="col-sm-12 table">
        <thead>
        <tr>
            <th><span>Title</span></th>
            <th class="hidden-xs">Labels</th>
        </tr>
        </thead>
        <tbody>

        {% for entity in entities %}
            <tr>
                <td>
                    {{ entity.title }}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% if entity.isOwner(app.user.username) or is_granted('ROLE_ADMIN') %}
                            <a class="pull-right" href="{{ path('activity_edit', { 'id': entity.id}) }}" title="Edit {{ entity.title }}">
                                Settings
                            </a>
                        {% endif %}
                    {% endif %}
                    {{ entity.description|raw }}
                </td>
                <td class="labels hidden-xs">
                    {% for tag in entity.tags %}
                        <span class="label label-default margin-right" style="background-color: {{ tag.color }};">
                                {{ tag.name }}
                                </span>
                    {% endfor %}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
