{% extends '::base.html.twig' %}

{% block title %}Activities{% endblock %}

{% block body -%}
    <div class="col-sm-12 well">
        <h1>{{ entity.title }}</h1>

        <p>{{ entity.description|raw }} </p>
        {% for tag in entity.tags %}
            <span class="label label-default" style="background-color: {{ tag.color }};">
                                {{ tag.name }}
                                </span>
        {% endfor %}
        <hr/>

        <h2>Objectives</h2>

        <table id="file_list" class="col-sm-12 table">
            <thead>
            <tr>
                <th><span>Title</span></th>
                <th class="hidden-xs">Labels</th>
            </tr>
            </thead>
            <tbody>

            {% for entity in entity.objectives %}
                <tr>
                    <td>
                        <a href="{{ path('objective_show', { 'id': entity.id}) }}" title="Show {{ entity.objective }}">
                            {{ entity.objective|raw }}
                        </a>

                        {{ entity.description|raw }}
                    </td>
                    <td class="labels hidden-xs">
                        {% for tag in entity.tags %}
                            <span class="label label-default margin-right" style="background-color: {{ tag.color }};">
                                {{ tag.name }}
                                </span>
                        {% endfor %}
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
