{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Modules</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Sortorder</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('module_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.sortorder }}</td>
                <td>{{ entity.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('module_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
