{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Modules{% endblock %}

{% block body -%}
    <h1 style="display: inline-block;">Modules</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary pull-right" href="{{ path('module_new') }}">New Module</a>
    {% endif %}

    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        There are four modules currently being designed for one to three class periods. Click on a title for access to learning objectives,
        activities, resources, assessments, and lecture content.
    </div>

    <div class="list-group">
        {% for entity in entities %}
            <a href="{{ path('module_show', { 'id': entity.id }) }}" class="list-group-item">
                <p class="list-group-item-heading">{{ entity.name|raw }}</p>

                <p class="list-group-item-text">{{ entity.description|raw }}</p>

                {% for tag in entity.tags %}
                    <span class="label label-default margin-right" style="background-color: {{ tag.color }};">
                                {{ tag.name }}
                                </span>
                {% endfor %}
            </a>
        {% endfor %}
    </div>

{% endblock %}
