{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Sample list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Facility</th>
            <th>Sysloc</th>
            <th>Param</th>
            <th>Date</th>
            <th>Paramvalue</th>
            <th>Paraunit</th>
            <th>Ebatch</th>
            <th>Task</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.facility }}</td>
                <td>{{ entity.sysLoc }}</td>
                <td>{{ entity.param }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.paramValue }}</td>
                <td>{{ entity.paraUnit }}</td>
                <td>{{ entity.ebatch }}</td>
                <td>{{ entity.task }}</td>
                <td>{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        {% if entity.isOwner(app.user.username) or is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-default" href="{{ path('sample_edit', { 'id': entity.id }) }}">Edit</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
