{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Label</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ entity.color }}</td>
            </tr>
            <tr>
                <th>Sortorder</th>
                <td>{{ entity.sortorder }}</td>
            </tr>
        </tbody>
    </table>
    <ul class="">
    <li>
        <a href="{{ path('tag_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
