{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Lastname</th>
            <td>{{ entity.lastname }}</td>
        </tr>
        <tr>
            <th>Firstname</th>
            <td>{{ entity.firstname }}</td>
        </tr>
        <tr>
            <th>Photo</th>
            <td><img src="{{ entity.photo }}" class="img-rounded img-responsive" alt="Responsive image of {{ entity.firstname }} {{ entity.lastname }}"></td>
        </tr>
        <tr>
            <th>Bio</th>
            <td>{{ entity.bio|raw }}</td>
        </tr>
        <tr>
            <th>Studentid</th>
            <td>{{ entity.studentid }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a href="{{ path('user') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
