{% extends 'AppBundle::layout.html.twig' %}

{% block body -%}
    <h1>Objective:  </h1>
    <a href="{{ path('objective_edit', { 'id': entity.id }) }}" class="btn btn-default pull-right">Edit</a>
    <p>{{ entity.objective|raw }}</p>
    <p>{{ entity.description|raw }}</p>

    <table id="file_list" class="col-sm-12 table">
        <thead>
        <tr class="file">
            <th><span>Title</span></th>
            <th class="hidden-xs">Module</th>
            <th class="hidden-xs">Labels</th>
            <th>Modified</th>
        </tr>
        </thead>
        <tbody>

        {% for file in entity.files %}
            <tr class="file">
                <td>
                    <span class="label label-info" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
                    <a class="" href="{{ path('file_get', { 'id': file.id}) }}" title="View {{ file.name }}">
                        {{ file.name }}
                    </a>
                    <a class="pull-right" href="{{ path('file_edit', { 'id': file.id}) }}" title="Edit {{ file.name }}">
                        Settings
                    </a>
                    {{ file.description|raw }}
                </td>

                <td>
                    {% for module in file.modules %}
                        <span class="label label-default margin-right">
                                {{ module.name }}
                        </span>
                    {% endfor %}
                </td>
                <td class="labels hidden-xs">
                    {% for tag in file.tags %}
                        <span class="label label-default margin-right" style="background-color: {{ tag.color }};">
                                {{ tag.name }}
                                </span>
                    {% endfor %}
                </td>
                <td>{{ file.updated|date('m/d/y, g:i a') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
