{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Resources{% endblock %}

{% block body %}
    <h1>Resources</h1>

    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Resources consist of module activities, website resources, maps, background readings, and others. Click on the title to download.
    </div>

    <table id="file_list" class="col-sm-12 table">
        <thead>
        <tr class="file">
            <th><span>Title</span></th>
            <th class="hidden-xs">Labels</th>
        </tr>
        </thead>
        <tbody>

        {% for file in files %}
            <tr class="file">
                <td>
                    <span class="label label-info" data-toggle="tooltip" title="This an {{ file.ext }} file ">{{ file.ext }}</span>
                    <a class="" href="{{ path('file_get', { 'id': file.id}) }}" title="View {{ file.name }}">
                        {{ file.name }}
                    </a>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {% if file.isOwner(app.user.username) or is_granted('ROLE_ADMIN') %}
                    <a class="pull-right" href="{{ path('file_edit', { 'id': file.id}) }}" title="Edit {{ file.name }}">
                        Settings
                    </a>
                    {% endif %}
                    {% endif %}
                    {{ file.description|raw }}
                </td>
                <td class="labels hidden-xs">
                    {% for tag in file.tags %}
                        <span class="label label-default margin-right" style="background-color: {{ tag.color }};">
                                {{ tag.name }}
                                </span>
                    {% endfor %}
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
{% endblock %}
