{# Marca/FileBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}{{ application_name }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block sidebar %}

    <ul>
        <li><a  href="{{ path('objective') }}"> Objectives</a></li>
        <li><a  href="{{ path('module') }}"> Modules</a></li>
        <li><a  href="{{ path('tag') }}"> Labels</a></li>
        <li><a  href="{{ path('file') }}"> Files</a></li>
        <li><a  href="{{ path('sample') }}"> Samples</a></li>
        <li><a  href="{{ path('section') }}"> Sections</a></li>
        <li><a  href="{{ path('page') }}"> Pages</a></li>
    </ul>


    <ul>
        <li><a id='file_new_upload' title='Upload document' href="{{ path('file_new') }}"><i
                        class="glyphicon glyphicon-upload"></i> Upload file</a></li>
        <li><a  href="{{ path('module_new') }}"> New Module</a></li>
        <li><a  href="{{ path('tag_new') }}"> New Label</a></li>
        <li><a  href="{{ path('objective_new') }}"> New Objective</a></li>
        <li><a  href="{{ path('sample_new') }}"> New Sample</a></li>
        <li><a href="{{ path('section_new') }}">New Section</a></li>
        <li><a href="{{ path('page_new') }}">New Page</a></li>
    </ul>

{% endblock %}
